@import url('https://fonts.googleapis.com/css?family=Montserrat');
#body-row {
    margin-left: 0;
    margin-right: 0;
}

#sidebar-container {
    height: 100vh;
    background-color: linear-gradient(to right, rgb(3, 3, 3) 0%, rgb(78, 36, 61) 100%);;
    padding: 0;
    /* flex: unset; */
}

/* ----------| Menu item*/

#sidebar-container .list-group a {
    height: 80px;
    color: white;
}


/* ----------| Submenu item*/



.toolbar-heading {
    font-size: 40px;
    font-weight: 600;
    text-shadow: 1px 1px 2px #ffffff;
}

/* ----------| Separators */

.bg-custom {
    background : linear-gradient(to right, rgb(3, 3, 3) 0%, rgb(78, 36, 61) 100%);
 }

h3 {
    color: orangered;
}
.icon {
color : white;
}