@import url('https://fonts.googleapis.com/css?family=Montserrat');
#body-row {
    margin-left: 0;
    margin-right: 0;
}
body {
    background : linear-gradient(to bottom, rgb(238, 219, 227) 0%, rgba(32, 1, 19, 0.788) 100%);
}
.btn {
    background : linear-gradient(to right,rgb(150, 2, 150) 0%, rgb(53, 3, 53) 100%);
    border: none;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 30px;
}