@import url('https://fonts.googleapis.com/css?family=Montserrat');
.toolbar-heading {
    font-size: 40px;
    font-weight: 600;
    text-shadow: 1px 1px 2px #ffffff;
}
.bg-custom-1 {
    background : linear-gradient(to top, rgb(3, 3, 3) 0%, rgb(78, 36, 61) 100%);;
}